$accent1: #A40150;
$accent2: #D9D9D9;


%bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

%inter300 {
  font-family: 'Inter-Light', sans-serif;
  font-weight: 300;
}

%inter400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%inter500 {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}

%inter600 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}