@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  height: 100vh;
  background-image: url('../images/header/1.jpg');
  @extend %bg;
  color: #fff;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 130px;
  }

  &__number {
    font-size: 22px;
    @extend %inter600;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__inner {
    text-align: center;
  }

  &__title {
    font-size: 75px;
    line-height: 115%;
    @extend %inter600;
    margin-bottom: 30px;
  }

  &__text {
    width: 700px;
    font-size: 19px;
    @extend %inter400;
    margin: 0 auto;
    margin-bottom: 55px;
  }

  &__modal_title {
    color: black;
  }

}

.info {
  padding-bottom: 120px;
  margin-bottom: 250px;

  &__title {
    margin-bottom: 100px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 90px;
    width: 570px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/info/1.jpg');
      @extend %bg;
      top: -170px;
      right: -850px;
      width: 800px;
      height: 650px;
    }
  }

  &__item {
    width: 255px;
  }

  &__item_line:not(:last-child) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 10px;
      right: -15px;
      height: 90px;
      width: 1px;
      background-color: black;
    }
  }

  &__title {
    font-size: 17px;
    @extend %inter600;
    margin-bottom: 15px;
  }

  &__text {
    width: 225px;
  }

  &__images {
    background-color: $accent2;
    height: 550px;
  }
}

.portfolio {
  background-color: black;
  color: #fff;
  padding-top: 50px;

  &__title {
    // text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
    //   1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    font-size: 125px;
  }


  &__subtitle {
    font-size: 25px;
    @extend %inter500;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 16px;
    @extend %inter400;
    margin-bottom: 40px;
    width: 650px;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
  }

  &__img_center {
    height: 450px;
  }

}

.rate {

  &__box {
    background-color: transparent;
    width: 100%;
    height: auto;
  }

  &__item {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid black;
    padding: 30px;
  }

  &__item_text {
    width: 350px;
  }

  &__service_top,
  &__work_top,
  &__price_top {
    font-size: 25px;
  }

  &__service,
  &__work,
  &__price {
    font-size: 18px;
  }
}


.review {

  &__slider {
    margin: 0 auto;
    width: 600px;
    margin-top: 150px;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    font-size: 0;
  }

  .slick-prev {
    position: absolute;
    top: 40px;
    left: 900px;
    background-image: url('../images/slider/arrow-left.svg');
    @extend %bg;
  }

  .slick-next {
    position: absolute;
    top: 40px;
    left: -350px;
    background-image: url('../images/slider/arrow-left.svg');
    @extend %bg;
    transform: rotate(180deg);
  }

  &__box {
    width: 500px !important;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__name {
    margin-bottom: 15px;
  }
}

.about {
  padding-top: 100px;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-size: 32px;
    @extend %inter400;
    margin-bottom: 25px;
    line-height: 130%;
    width: 560px;
  }

  &__text {
    line-height: 130%;
    margin-bottom: 40px;
    width: 580px;
    margin-bottom: 25px;
  }

  &__box {
    display: block;
    margin-bottom: 120px;
  }

  &__bottom {
    display: flex;
  }

  &__item:not(:last-child) {
    margin-right: 100px;
  }

  &__item {
    width: 350px;

    &_img {
      height: 400px;
      background-color: $accent2;
      margin-bottom: 30px;
    }

    &_text {
      font-size: 32px;
      @extend %inter400;
      line-height: 130%;
    }
  }
}

.footer {

  &__links {
    width: 870px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__link {
    font-size: 32px;
    line-height: 130%;
    @extend %inter400;
    transition: all .3s;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      opacity: 0.5;
    }
  }

  &__bottom_link {
    text-align: center;
    color: #fff;
    display: block;
    margin-bottom: 125px;
    transition: all .3s;
  }

  .container_2 {
    background-color: #1A1A1A;
  }

  &__down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

    &__text {
      display: block;
    }

    &_link {
      color: #999999;
      transition: all .3s;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        opacity: 0.5;
      }
    }
  }

  &__input {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    border-bottom: 1px solid $accent1;
    padding: 10px 10px;

    &::placeholder {
      color: black;
    }
  }
}

.modal-header {
  border: transparent
}

.modal-title {
  text-align: center;
  @extend %inter500;
}

.btn {
  background-color: $accent1;
  border: none;
  color: #fff;
  transition: all .3s;
  border-radius: 0;

  &:hover {
    background-color: $accent1;
    color: #fff;
  }

  &:active {
    background-color: $accent1 !important;
    border-color: red;
    opacity: 0.5;
    color: #fff;
  }

  &:focus-visible {
    background-color: $accent1;
    color: #fff;
  }
}

.btn.active {
  background-color: $accent1;
}



@import 'media';